<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="./css/signin.css" rel="stylesheet">
  </head>
  <body>
  	<h2>Error</h2>
  	<p><%= message %></p>
  	<h1>Votre Horoscope </h1>
  	<p>Tout ne s'passe pas comme vous attendiez aujourdhui mais il ne faut pas paniquer ! <br/>Vous allez parler avec un Ecossais et vous allez sentir mieux !<br/>
  	Il vous dirait que l'informatique est une sandwich de merde et il faut que vous en mangez un tout petit tout les jours.</p>
  </body>
</html>


