<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/favicon.ico">
    <title>Takes</title>
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
     <link href="./css/signin.css" rel="stylesheet">
  </head>
  <body>
  		<div class="navbar navbar-default">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand active" href="/takes">Kiwi Season 2-3</a>
              
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                  <ul class="nav navbar-nav">
                    <li class="active"><a href="/prores">Prores</a></li>
                   </ul>
            <form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                  </form>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Log out</a></li>
               </ul>                 
			</div>
          </div>  
		 <div class="container">
		 
		 
		 <% for(var i=0; i<filmArray.length; i++) {%>
				<div class="jumbotron">
				    <%= filmArray[i].takename %>

		            	<a href="/download?filepath=<%= filmArray[i].proresPath %>&filename=<%= filmArray[i].takename %>.mov"> 
		            		<button type="button" class="btn btn-warning">Download</button>
		            	</a>

				</div>
				<% } %>
				
				
		 </div >
  </body>
</html>