<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %> Coming Soon </p> 
		<form method="post" action="/upload" enctype="multipart/form-data">     
	   	 	<input type="hidden" name="uploadtype" value="filmprores">
	   	 	<!--<input type="hidden" name="uploadtype" value="filmjpg">-->
	   	 	<input type="file" name="uploadfile"> 
	   	 	<input type="submit" value="Envoyer">    
	   	 </form>
  </body>
</html>